<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmotionHarmony"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".lost_password"
            android:exported="false" />
        <activity
            android:name=".pages.Page_Diary"
            android:exported="false" />
        <activity
            android:name=".pages.PageWaterActivity"
            android:exported="false" />
        <activity
            android:name=".pages.Page_Invoice"
            android:exported="false" />
        <activity
            android:name=".pages.choose.Choose_Emotion"
            android:exported="false" />
        <activity
            android:name=".pages.meditation.Meditation_Page7"
            android:exported="false" />
        <activity
            android:name=".pages.meditation.Meditation_Page4"
            android:exported="false" />
        <activity
            android:name=".pages.breath.Page_End"
            android:exported="false" />
        <activity
            android:name=".pages.breath.Breath_Page1"
            android:exported="false" />
        <activity
            android:name=".pages.Page_perfil"
            android:exported="false" />
        <activity
            android:name=".pages.Page_Exercicies"
            android:exported="false" />
        <activity
            android:name=".pages.meditation.Meditation_Page6"
            android:exported="false" />
        <activity
            android:name=".pages.meditation.Meditation_Page5"
            android:exported="false" />
        <activity
            android:name=".pages.meditation.Meditation_Page3"
            android:exported="false" />
        <activity
            android:name=".pages.meditation.Meditation_Page2"
            android:exported="false" />
        <activity
            android:name=".pages.meditation.Meditation_Page1"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>