footer {
  display: flex;
  justify-content: space-between;
  min-height: 10vh;
  width: 100%;
  padding: 0 2rem;
}

footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100%;
}

footer button {
  background-color: var(--navy-blue);
}

.logo-footer {
  max-height: 30px;
}

footer .title,
.copy {
  text-align: center;
  font-size: 0.7rem;
}

footer .title {
  text-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  text-align: center;
  color: white;
}
