footer {
  position: relative;
  justify-content: space-between;
  min-height: 4vh
}

footer div {
  position: absolute;
  top: 0;
  left: 1rem;
  align-self: flex-end;
}

footer .title,
.copy {
  font-size: 0.7rem;
}

footer .title {
  text-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  color: white;
}