.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 0.5px dashed rgba(0, 0, 0, 0.5);
}

.section div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.left {
  flex-direction: row;
}

.section img {
  min-width: 30%;
  border-radius: 50%;
}

.left img {
  height: 20rem;
}

.right img {
  height: 25rem;
}

.right {
  flex-direction: row-reverse;
}
